[mysqld]
max_allowed_packet = 268435456
optimizer_use_condition_selectivity = 1
optimizer_switch = 'rowid_filter=off'
query_cache_limit = 131K
query_cache_size = 67M
query_cache_type = ON
innodb_adaptive_hash_index=ON