[mysqld]
default_authentication_plugin=mysql_native_password
max_allowed_packet = 256M
optimizer_use_condition_selectivity = 1
optimizer_switch = 'rowid_filter=off'
query_cache_limit = 131K
query_cache_size = 67M
query_cache_type = ON
innodb_adaptive_hash_index = ON
innodb-buffer-pool-size = 256M